---
layout: compress
---
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    {% include head.html %}

    <meta name="robots" content="noindex"> <!--=====  Please remove it ! ! !  ======-->
    <meta name="googlebot" content="noindex"> <!--=====  Please remove it ! ! !  ======-->
  </head>
  <body class="{{ page.slug }}">
    <main class="main">
      {% include header.html %}
      <div class="post-list col-sm-6 text-center">
      {{ content }}
      <p id="copyleft"><i class="fa fa-copyright" aria-hidden="true"></i> Copyleft</p>
      </div>
    </main>
    <script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
    <script src="/custom.js"></script>
  </body>
</html>
